<h1 align="center">Welcome to <%= @user.username %> Profile</h1>
<div class="row">
  <div class="col-sm-4 offset-sm-4 center">
    <%= gravatar_for(@user, size: 100) %>
  </div>
</div>
<h5 align="center"><%= @user.username%> articles</h5>
<div class="row">
  <div class="offset-sm-5 col-sm-4">
      <%= will_paginate @user_articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<%= render 'articles/article', obj: @user_articles%>
<div class="row">
  <div class="offset-sm-5 col-sm-4">
      <%= will_paginate @user_articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>